{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">User Page</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

    <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <!--<strong>userId:</strong> {{ session['user']['userId'] }}<br>-->
        <strong>Username:</strong> {{ session['user']['username'] }}<br>
        <strong>role:</strong> {{ session['user']['role'] }}</p>
      </p>
    <h2 class="center">Upload File</h2>
      <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary">
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}
        {% endwith %}
        </p>
      <form name="upload_from" method="post" action="/user/upload" enctype="multipart/form-data">
        <div class="col-md-4 col-md-offset-4">
          <div class="input-group">
              <span class="input-group-btn">
                <div class="btn btn-default browse-button">
                    <span class="browse-button-text">
                    <i class="fa fa-folder-open"></i> Browse</span>
                    <input type="file" name="attachment" required  accept=".pdf, .csv, .json, .jsonl, .md, .docx, .txt" accept_multiple_files=True/>
                </div>
                <button type="button" class="btn btn-default clear-button" style="display:none;">
                  <span class="fa fa-times"></span> Clear
                </button>
              </span>
              <input type="text" class="form-control filename" disabled="disabled" placeholder="Please select file">
              <span class="input-group-btn">
                <button class="btn btn-primary upload-button" type="submit">
                    <i class="fa fa-upload"></i>
                    SUBMIT
                  </button>
          </div>
        </div>
      </form>
      <!-- spinner -->
      <div class="spinner" id="spinner">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <!--<img id="output" width="100px" height="100px"/>
      <script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
          output.onload = function() {
            URL.revokeObjectURL(output.src) 
          }
        };
      </script>-->
      <style>
      .alert-primary {
          color: #004085;
          background-color: #cce5ff;
          border-color: #b8daff;
      }
      .alert {
          position: relative;
          padding: .75rem 1.25rem;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: .25rem;
      }
      </style>
    
    
    </div>
  
  </div>
  <div class="chat-container">
    <div class="chat-header">
        Ask a your question
    </div>
    <div class="chat-messages" id="chatMessages">
      <!-- Chat messages will appear here -->
    </div>
    <div class="input-container">
      <input type="text" class="input-box" id="userInput" placeholder="Type your Message...">
      <button class="send-button" id="sendMessage">Send</button>
    </div>
  </div>
{% endblock %}