{% extends "base.html" %}

{% block content %}
  <!-- spinner -->
  <div class="spinner" id="spinner">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form">

        <!--<label for="userId">Userid</label>
        <input type="text" name="userId" class="field" required>-->

        <label for="username">Username</label>
        <input type="text" name="username" class="field" placeholder="Enter your username" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" placeholder="Enter your password" required>

        <label for="role">Your role:</label>

        <select name="role" id="role" required>
        <option value="">--Please choose role--</option>
        <option value="user">user</option>
        <option value="admin">admin</option>
        </select>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
      
    </div>

    <div class="card">

      <h1 class="center">Log In</h1>

      <form name="login_form">

        <label for="username">Username</label>
        <input type="text" name="username" class="field" placeholder="Enter your username" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" placeholder="Enter your password" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
      
      </form>
      
    </div>
  
  </div>
{% endblock %}