body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  font-family: "Arial", sans-serif;
  background-color: #2e8b57;
  padding: 15px;
  color: #fff;
  text-align: right;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

#pdf-btn,
#logout-btn {
  font-family: "Arial", sans-serif;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}

#pdf-btn {
  background-color: #fff;
  color: #dc3545;
}

#pdf-btn:hover {
  background-color: #d6d4d4;
}

#logout-btn {
  background-color: #dc3545;
  color: #fff;
}

#logout-btn:hover {
  background-color: #c82333;
}

.container {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form {
  font-family: "Arial", sans-serif;
  border: 3px solid #2e8b57;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

label {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.file-input-container {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#fileNames {
  font-family: "Arial", sans-serif;
  margin-top: 10px;
}

.upload-btn {
  font-family: "Arial", sans-serif;
  background-color: #2e8b57;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #20643e;
}

.dropzone {
  font-family: "Arial", sans-serif;
  border: 2px dashed #007bff;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
  border: 2px solid #007bff;
}

.dropzone form {
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

.dropzone .dz-message {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
}
