/* index.html */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form, #register-form, #home {
    background-color: #fff;
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
    text-align: left; 
}

input {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px; 
    background-color: #2E8B57; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #006400; 
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

#login-error, #register-success, #register-error {
    margin-top: 15px;
}

#password-toggle {
    cursor: pointer;
    float: right;
    margin-top: -28px;
    margin-right: 10px;
}

nav {
    background-color: #2E8B57;
    padding: 15px;
    color: #fff;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
